.directive.form-group
  label.control-label Description
    sup *
  textarea(rows="3" ng-model="entity.description" name="description" required).form-control.input-lg
  span.help-block Enter a description of the entity