<!DOCTYPE html>
<html lang="en" ng-app="<%= mainModule %>" ng-strict-di>

<head>
  <meta charset="UTF-8">
  <title>Asset View</title>
  <link rel="stylesheet" href="<%= vendorCssFileUri %>"/>
  <link rel="stylesheet" href="<%= appCssFileUri %>"/>
</head>

<body>
  <div class="container" ui-view>
</div>

<script src="<%= vendorJsFileUri %>"></script>
<script src="<%= appJsFileUri %>"></script>

</body>
</html>