div.col-sm-12
  header.text-center
    h1 Sandbox - not for public consumption
      i.icon-database

  .col-sm-offset-3.col-sm-6
    .row
      select(name="test" style="font-family:'icomoon', 'Helvetica Neue', Helvetica, Arial, sans-serif;").form-control
        option(value="icon-database")&#xe900 Test


    .row
      //entity-mini

