div.col-sm-12.state
  header
    h2
      i(class="{{vm.entity.icon}}") &nbsp;
      span {{vm.entity.name}}


  .col-sm-4
    p lhs

  .col-sm-4
    entity-mini(entity="vm.entity")
    //entity-pre(entity="vm.entity")

  .col-sm-4
    rhs

