$border: #ccc;
$boxShadow:#e0e0e0;

body {

}

.state {
  header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    nav {
      height: 50px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }

}

div {
  #entity-find {
    form {
      margin-top:20px;
    }
  }
}

.entity-mini {

  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor:pointer;
  }

  width: 250px;

  div {
    margin-top:10px;
  }

  header {
    display:block;
    clear:both;
  }

  padding: 10px;
  border: 1px solid $border;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px $boxShadow;
  overflow:hidden;

  .entity-name {
    font-size:20px;
    float:left;
    margin-top:4px;
  }

  .icon {
    font-size:30px;
    float:right;
  }

  .entity-labels {
    clear:both;
  }

  .entity-edit {
    float:right;
  }
}

.entity-icon-select {
  #icon-container {
    margin:8px 0 8px 0;
    padding:10px;
    max-height: 170px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px $boxShadow;
    #icons {
      padding:10px;
      max-height: 150px;
      overflow-y: scroll;
      overflow-x: hidden;
      i {
        padding:7px;
        font-size:1.5em;
        cursor: pointer;
      }
    }
  }
}

.entity-labels {
  span {
    margin-right: 5px;
  }
}

.entity-view {

  #entity-container {
    border: 1px solid $border;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px $boxShadow;
    width: 100%;
    height: 1200px;
  }

  .entity-group {
    padding: 10px;
    border: 1px solid $border;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px $boxShadow;
    overflow:hidden;

    header {
      h3 {
        margin:0 auto;
        padding-top:10px;
        text-align:center;
      }
    }

  }
}


